.dropdown {
  background-color: white;
  border: 1px solid dodgerblue;
  border-radius: 5px;
  width: 12%;
}
.dropdown select:hover {
  cursor: pointer;
}
.dropdown select {
  font-size: 1rem;
  font-weight: normal;
  padding: 10px 15px 10px 2px;
  border: none;
  background-color: transparent;
}
.dropdown select:focus {
  outline: none;
}
