.header {
  position: relative;
  padding: 0.5rem 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin: 1rem 2rem;
}

.sortingBars {
  position: absolute;
  top: 25%;
  left: 3%;
}

.bars {
  width: 22px;
  background-color: white;
  margin-left: 5px;
  display: inline-block;
  border-radius: 5px;
}
