@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.footer div {
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  font-weight: 900;
  cursor: pointer;
  color: black;
}

.footer a {
  color: black;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@import url("./components/styles/button.css");

@import url("./components/styles/dropdown.css");

@import url("./components/styles/slider.css");

@import url("./components/styles/toggle.css");

@import url("./components/styles/visualizer.css");

@import url("./components/styles/algoInfo.css");
